{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>

    <button id="btnScroll"><img src="/svg/scroll_btn.svg" alt=""></button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}